.profile-card {
  background-color: #fff;
  width: 300px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  text-align: center;
  overflow: hidden;
}

.profile-card img {
  width: 150px;
  border-radius: 150px;
}

.profile-card div {
  background-color: #87cefa8f;
  padding: 20px;
}
